.baseContainer {
  min-height: 120vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr 0.5fr 1fr;
  grid-template-areas:
    'navbar navbar navbar'
    '. main .'
    'details details details'
    '. contact .';
  background-color: var(--thistle);
}

.homeContent {
  grid-area: main;
  margin-top: 2rem;
  color: var(--dark-slate-grey);

  vertical-align: middle;
  height: 100vh;
}

.brandContainer img {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}

.homeInnerContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 1fr;
  grid-template-areas: '. c .';
  grid-area: details;
  border-radius: 15px;

  padding: 1rem;
  margin-bottom: 2rem;
}

.innerContainerContent {
  padding: 1rem;
  border-radius: 15px;
  background-color: #e4dce4;
  grid-area: c;
}

.homeContent h2 {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 300;
}

.headerContainer {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactContainer {
  grid-area: contact;
  margin-bottom: 2rem;
}

.contactUsButtonHome {
  transition: 0.3s opacity ease-out;
}
.contactUsButtonHome:hover {
  opacity: 0.7;
}
