.baseContainer {
  min-height: 120vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'main main main'
    'details details details'
    '. contact .'
    'bottomNav bottomNav bottomNav';
  background-color: var(--thistle);
}

/* 12.3% */
/* 7.43% */

.homeContent {
  display: grid;
  grid-area: main;
  color: var(--dark-slate-grey);
  background-image: url('/NorthBoutiqueMainContentBackground.png');
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  grid-template-columns: 7.43% 1fr 7.43%;
  grid-template-rows: 12.3% 87.7%;
  grid-template-areas:
    '. navbar .'
    '. innerMain .';
  height: 100vh;
}

.headerContainer {
  grid-area: innerMain;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'cta .';
}

.headerContainerInnerCTA {
  color: var(--dark-slate-grey);
  grid-area: cta;
  text-align: center;
  height: 40%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.headerContainerInnerCTA h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.contactUsButtonHome {
  color: var(--dark-slate-grey) !important;
  background-color: var(--thistle) !important;
  transition: 0.3s opacity ease-out;
}
.contactUsButtonHome:hover {
  opacity: 0.7;
}

.brandContainer img {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}

.homeDetailsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'c';
  grid-area: details;
  /* background-image: url('/NorthBoutiqueDetailsBackground.png'); */
  /* background-size: 100%;
  background-repeat: no-repeat; */
}

.homeDetailsContainerContent {
  display: grid;
  grid-template-columns: 7.43% 1fr 1fr 1fr 7.43%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    '. b1 b2 b3 .'
    '. . . . .'
    '. . . . .';
  grid-area: c;
  width: 100%;
}
.homeDetailsBox1 {
  grid-area: b1;
  margin-right: 1rem;
  background-color: var(--anti-flash-white);
}
.homeDetailsBox2 {
  grid-area: b2;
  margin-right: 1rem;
  background-color: var(--chinese-violet);
}
.homeDetailsBox3 {
  grid-area: b3;
  background-color: var(--asparagus);
}

.homeDetailsBox1,
.homeDetailsBox2,
.homeDetailsBox3 {
  max-height: 220px;
  margin-top: 2rem;
  border-radius: 5%;
  padding: 1rem;
  border: 1px solid var(--dark-slate-grey);
  /* height: 30%;
  width: 20%;
  margin-left: 5%; */
}

.homeDetailsContainerContent h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.contactContainer {
  grid-area: contact;
  margin-bottom: 2rem;
}

.bottomNavigationContainer {
  grid-area: bottomNav;
}

@media (max-width: 1000px) {
  .homeContent {
    background-image: none;
    background-color: var(--thistle);
  }

  .headerContainer {
    grid-area: innerMain;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'cta cta';
  }
  .contactUsButtonHome {
    color: var(--dark-slate-grey) !important;
    background-color: var(--anti-flash-white) !important;
  }
}
