.contactFormBox {
  background-color: var(--anti-flash-white);
  color: var(--dark-slate-grey);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border-radius: 5%;
}

.contactFormBox label {
  font-weight: 600;
}

.contactFormBox h2 {
  font-family: 'Poppins', sans-serif;
}

.contactFormSubmitButton {
  background-color: var(--thistle) !important;
  color: var(--dark-slate-grey) !important;
  transition: 0.3s opacity ease-out;
  font-family: 'Poppins', sans-serif;
}

.contactFormSubmitButton:hover {
  opacity: 0.7;
}
